@model PhotoStorage.ViewModels.CreatePhotoViewModel

@{
    ViewBag.Title = "Create";
}

<h2 class="yellow-text">Create</h2>

<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-md-10 yellow-text">
        @Html.LabelFor(model=>model.Title)
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-10 yellow-text">
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.TextBoxFor(m => m.PhotoUpload, new { type = "file" })
    </div>
    <div>
        @Html.HiddenFor(m => m.GalleryId)
    </div>
    <button type="submit">Upload</button>
</form>

<br />

<div>
    @Html.ActionLink("Back to Gallery", "ViewGallery", "Gallery", new { id = Model.GalleryId },null)
</div>
