@model PhotoStorage.ViewModels.PhotoViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>
@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description) 
<br />
@Html.ActionLink("Delete", "Delete", new { id = Model.PhotoId })
@Html.ActionLink("Edit", "Edit", new { id = Model.PhotoId })
@Html.ActionLink("Back to Gallery", "ViewGallery", "Gallery", new { id = Model.GalleryId},null)
@Html.ActionLink("Back", "Index", new { id = Model.PhotoId})
<hr />
<img src="@Model.PhotoPath"/>










