@model PhotoStorage.ViewModels.PhotoViewModel

@{
    ViewBag.Title = Model.Title;
    var width = Model.Width;
}

<div class="Title">
    <h2 >@Model.Title</h2>
    @Html.DisplayFor(model => model.Description) 
</div>
<br />

<div class="container">
    <a href="@Url.Action("Delete", "Photo", new { id = Model.PhotoId })">
        <img alt="Delete" src="@Url.Content("~/Content/images/Delete.png")">
    </a>
    <a href="@Url.Action("Edit", "Photo", new { id = Model.PhotoId })">
        <img alt="Edit" src="@Url.Content("~/Content/images/Edit.png")">
    </a>
    <a href="@Url.Action("ViewGallery", "Gallery", new { id = Model.GalleryId })">
        <img alt="Back" src="@Url.Content("~/Content/images/Back.png")" />
    </a>
</div>
<hr />

<img src="@Model.PhotoPath"/>










