@model IEnumerable<PhotoStorage.ViewModels.GalleryListViewModel>

@{
    ViewBag.Title = "Galleries";
    int counter = 0;
}

<div class = "container Title Centered-Title" >
    <br />
    <h1 class="col-sm-11">Galleries</h1>
    <a href="@Url.Action("Create", "Gallery")" class="col-sm-1">
        <img alt="Add New Gallery" src="@Url.Content("~/Content/images/Add.png")">
    </a>
</div>
<hr />

<div class="container">
    <div class="row">
    @foreach (var item in Model)
    {
        if(counter != 0 && counter % 6 == 0)
        {
            @:</div>
            @:<div class="row">
            <br>
        }
        
        <div class="col-sm-2">
            <a href="@Url.Action("ViewGallery", "Gallery",new{id = item.Id})" class="cl-sm-8 img-thumbnail">
                <img alt="item.Title" src="@Url.Content(item.ImageUrl)">
            </a>
            <br />
            @Html.ActionLink(item.Name, "ViewGallery", new { id = item.Id })
        </div>
        
        counter++;
}
    </div>
</div>

